* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 650px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.image {
  display: flex;
}

img {
  margin: auto;
}

p {
  margin: 20px 0;
}

span {
  color: white;
}

.input-box {
  display: flex;
  background-color: yellow;
  justify-content: space-between;
  flex-direction: row;
}

.input-box-new {
  display: flex;
  background-color: #82aec9;
  justify-content: space-between;
  flex-direction: row;
}



div.input {
  width:150px;
  height: 300px;
  padding: 10px;
  /* border: 1px solid black; */
}

input {
  width: 100%;
  font-family: monospace;
}

label {
  font-size: 8px;
  color: white;
}

.button-new-color {
  background-color: grey;
}

.scatola {
  width: 100px;
  height: 100px;
}
