<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- File di JS Vew: -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- END File di JS Veu -->

    <link rel="stylesheet" href="css/style.css">
    <title>VUE_HELLO - BONUS</title>
  </head>
  <body>
<!-- Contenitore di tutto -->
  <div class="container">

  <!-- Container di Visualizzazione di VEW -->
    <div id="root">

      <h1>{{title}}</h1>

      <div class="">
        <img :src="picture" alt="">
      </div>

    <!-- INPUT -->
    <div class="input-box">

      <!-- Sintassi Input tradizionale -->
      <div class="input">
        <input type="text" name="" value="Traditional Value">
      </div>
      <!-- END Sintassi Input tradizionale -->

      <!-- "Monitorare" il VALUE di un INPUT -->
        <!-- attraverso un attributo di Vew. Il v-model: -->
      <div class="input">
        <input v-model="message">
        <p>Questa è una Copia Istantanea del Value di Input:<br> {{message}}</p>
        <input v-model="name">
        <input v-model="surname">
        <p>Ciao {{name}} {{surname}}!</p>
      </div>
      <!-- END "Mnitorare" il value di un INPUT-->



    </div>
    <!-- END INPUT -->


    </div>
  <!-- END Container di Visualizzazione di VEW -->

  </div>
<!-- END Contenitore di tutto -->

  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
