<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- File di JS Vew: -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- END File di JS Veu -->

    <link rel="stylesheet" href="css/style.css">
    <title>VUE_HELLO - BONUS</title>
  </head>
  <body>
<!-- Contenitore di tutto -->
  <div class="container">

  <!-- Container di Visualizzazione di VEW -->
    <div id="root">

      <h1 :style="'color:' + colorHeadline + ';'">{{title}}</h1>

      <div class="image">
        <img :src="picture" alt="">
      </div>

    <!-- INPUT -->
      <div class="input-box" :class="sfondo" :style="'background:' + coloreDiSfondo + '; border-radius:' + borderRadius + ';'">

        <!-- Sintassi Input tradizionale -->
        <div class="input">
          <input type="text" name="" value="Traditional Value">
        </div>
        <!-- END Sintassi Input tradizionale -->

        <!-- "Monitorare" il VALUE di un INPUT -->
          <!-- attraverso un attributo di Vew. Il v-model: -->
        <div class="input">
          <input v-model="message">
          <p>qui sotto, una copia istantanea del value di input:<br><br> <span>{{message}}</span> </p>
          <input v-model="name" placeholder="name">
          <input v-model="surname" placeholder="surname">
          <p>{{saluti}} {{name}} {{surname}}!</p>
        </div>
        <div class="input">
          <input v-model="coloreDiSfondo">
        </div>
        <!-- END "Monitorare" il value di un INPUT-->
        <div class="input">
          <!-- @KEYUP -->
          <input id="submit "@keyup.enter="submitFx" value="" placeholder="your text here">
          <label for="submit">leave your message and press enter</label>
        </div>

      </div>
      <!-- END INPUT -->
      <div class="action">
        <!-- @CLICK -->
        <button  @click="changeColorFx" :style="'background:' + color + '; border:' + border + '; padding:4px; color:white; border-radius:' + borderRadius + ';'" type="button" name="button">H1 SWITCH COLOR</button>
        <button  @click="salutaFx" :style="'border:' + border + '; padding:4px; background:#381d7a; color:white; border-radius:' + borderRadius + ';'">ALERT</button>
        <button  @click="changeBorderFx" :style="'border:' + border + '; padding:4px; background:#82aec9; color:white; border-radius:' + borderRadius + ';'">BORDER RADIUS</button>
      </div>

    </div>
  <!-- END Container di Visualizzazione di VEW -->

  </div>
<!-- END Contenitore di tutto -->

  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
